<div>
  <h3><%= link_to "Housing", root_path %> < <%= @category.description %></h3>
  <p><%= link_to "Create New Post", new_category_post_path(@category.id) %><p>
  <% unless @posts.nil? %>
      <% @posts.each do |post| %>
        <li><%= link_to post.description, category_post_path(@category, post) %></li>
      <% end %>
    <% end %>
</div>
