<div>
  <h3>Housing</h3>
  <% unless @categories.nil? %>
    <% @categories.each do |category| %>
      <li><%= link_to category.description, category_posts_path(category) %></li>
    <% end %>
  <% end %>
</div>
